/elpa/
/.vanilla.d/
/*.el~
projectile-bookmarks.eld
auto-save-list
**/*.elc
/.cask/
*.sqlite
/transient/
/.last-package-update-day
/quelpa/
/eshell/
/projects
/tramp
/bookmarks
/**/.cache/
/**/..cache/
/.lsp-session-v1
/**/semanticdb/
/TAGS
/**/elisp-autofmt-cache/
/url/
